/* .courses {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
} */

.courses-title {
  text-align: center;
  margin: 1rem;
  color: #fff;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.course-elem-title {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: inherit;
  opacity: 0.7;
}

.courses__pagination {
  margin: 0 auto;
  width: fit-content;
  padding: 3rem 0;
}

.courses__pagination ul li button svg,
.courses__pagination ul li button {
  color: #fff;
}
