* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0a0f19;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: flex;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
}